<ul class="list">
    <li *ngFor="let caprice of arrCaprices">
        <a routerLink="{{ '/caprices/detail/'+caprice.id }}">
            <div class="info">
                <div class="picture">
                    <figure>
                        <img [src]="baseUrl+'/images/desire/'+caprice.image" alt="Desire picture">
                    </figure>
                </div>
                <div>
                    <h4>{{ caprice.title }}</h4>
                    <h6>de <span>{{ caprice.country }}</span></h6>
                    <h6>publicado por <span class="text-dark">{{ caprice.username}}</span></h6>
                </div>
            </div>
            <p>{{ caprice.notes }}</p>
        </a>
    </li>
</ul>

