<app-nav-mail></app-nav-mail>
<ul class="mail-list mail-send">
    <li *ngFor="let mail of arrMails">
        <a routerLink="{{ '../mailing/inbox/detail/'+mail.id }}">
            <div class="trip" *ngIf="mail.fk_trip">
                <p>Tu ofrecimiento en tu <span class="txt-highlight">viaje</span> a</p>
                <h2>Spain</h2>
                <p>para <span>usuarioSolicitado</span></p>
            </div>
            <div class="desire" *ngIf="mail.fk_desire">
                <p>Tu <span class="txt-highlight">deseo</span> de</p>
                <h2>Spain</h2>
                <p>para <span>usuarioSolicitado</span></p>
            </div>
        </a>
    </li>
</ul>