<div class="modal">
    <div class="close">
        <img src="../../../../assets/images/close.svg" alt="close icon" (click)="closeModal()">
    </div>
    <div class="info">
        <h5>Tienes que registrarte para poder hacer publicaciones</h5>
        <a [routerLink]='["/register"]' class="button button-primary">
            CREAR CUENTA
        </a>
        <a [routerLink]='["/login"]' class="button button-primary">
            IDENTIFICARME
        </a>
    </div>
</div>
<div class="home">
    <div class="hero-text">
        <div>
            <h2>Descubre productos en tus viajes</h2>
            <a [routerLink]="['/listCaprice']" class="button button-primary">Ver deseos</a>
        </div>
        <div>
            <h2>Pide lo que necesitas de otros países</h2>
            <a [routerLink]="['/listTrip']" class="button button-primary">Ver viajes</a>
        </div>
    </div>
    <a (click)="click()" [routerLink]="['/formTrip']" class="button-secondary button button-publish">Publicar viaje o deseo</a>
</div>
