<div class="home">
    <div class="hero-text">
        <div>
            <h2>Descubre productos en tus viajes</h2>
            <a [routerLink]="['/listCaprice']" class="button button-primary">Ver deseos</a>
        </div>
        <div>
            <h2>Pide lo que necesitas de otros países</h2>
            <a [routerLink]="['/listTrip']" class="button button-primary">Ver viajes</a>
        </div>
    </div>
    <a [routerLink]="['/formTrip']" class="button-secondary button button-publish">Publicar viaje o deseo</a>
</div>
