@import './styles.scss';

.back {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: $size;
    width: 100%;
    background-color: $color4;
    color: $color1;
    img {
        transform: rotate(180deg);
        height: $size*3;
        margin-right: $size;
    }
}