@import './styles.scss';

.list {
    li {
        display: flex;
        flex-wrap: wrap;
        border-bottom: 1px solid $color4;
        padding: {
            bottom: $size;
            top: $size;
        }
        &:last-child {
            margin-bottom: $size*12;
        }
        a {
            padding-left: $size;
            color: $color1;
        }
        .info {
            padding: $size;
            padding-left: 0;
            width: 100%;
            display: flex;
            figure {
                margin: auto;
                border-radius: 100%;
                overflow: hidden;
                width: $size*10;
                height: $size*10;
                border: 2px solid $color1;
                margin-right: $size;
                img {
                    height: 100%;
                }
            }
            h4 {
                color: $color2;
                font-weight: 900;
            }
            h6 {
                margin-top: $size;
                span {
                    font-weight: 700;
                    color: $color2;
                }
            }
            .picture {
                display: flex;
                flex-wrap: wrap;
                width: 33.3333%;
            }
            .data {
                width: 66.6666%;
            }
        }
        p {
            display: block;
            width: 100%;
            padding: $size;
            padding-top: 0;
        }
    }
}