
//fonts
$font1: 'Noto Sans JP', sans-serif;
$font2: 'title', serif;
$sbold: 700;
$bold: 900;
$fbase: 1em;

// sizes and distances
$size: 8px;

// colors
$color1: black;
$color2: #D0021B;
$color3: #fff;
$color4: #e0e0e0;