@import '../../../../scss/styles.scss';

.button-register {
    width: 100%;
    margin-top: $size*2;
    margin-bottom: $size*2;
}
.conditions {
    padding-top: $size !important;
}

h5 + p {
    font-size: $fbase/1.2;
    line-height: $fbase*1.2;
    margin-top: $size;
}
figure {
    height: $size*14 !important;
    width: $size*14 !important;
    overflow: hidden;
}
figure img {
    width: 100%;
}
